

<div class="background">
<div class="center">
comment show
</div>
<div><%= link_to "Home",root_path %></div>
<div><%= link_to "books_show",books_show_path %></div>
<div class="center">
<table>
  <tr>
    <th>タイトル</th>
    <th>テキスト</th>
    <th>作成日</th>
    <th colspan="3"></th>
  </tr>
  <% @comments.each do |comment| %>
  <tr>
    <td><%= comment.title %></td>
    <td><%= comment.body %></td>
    <td><%= comment.created_at %>
  </tr>
  <% end %>
</table>
</div>