<!DOCTYPE html>
<html>
  <head>
    <title>Bookhistory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <header>
<div class="logo">
<%= link_to root_path do%>
<%= image_tag "example_logo.png"%>
<% end %>
</div>




<div class=title_css>
  <% if user_signed_in? %>

<div class=sing_out_css>ユーザー名；<%= current_user.name %></div>

<div class=sing_out_css><%= link_to "ログアウト",comments_index_path %></div>

  <% else %>
<div class=sing_out_css>現在はログインしていません</div>

<div class=sing_out_css><%= link_to "sing_in",comments_index_path %></div>
  <% end %>

</div>  
  
  </header>
    <%= yield %>
  <footer>
  <div class=copyright>携わった方々のご協力に感謝します！</div>
  </footer>
  </body>

</html>
